<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="SendExceptionEmailsFrom" value="no-reply@cccp.com"/>
    <add key="SendExceptionEmailsTo" value="cccp.developer@gmail.com"/>
    <add key="MailServer" value="mail.consolidated.net"/>
    <add key="LogFileDirectory" value="C:\Users\Philip\Documents\Visual Studio 2010\Projects\CCSolution\LogFiles"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="CCEntities" connectionString="metadata=res://*/CCData.csdl|res://*/CCData.ssdl|res://*/CCData.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(localdb)\V11.0;Initial Catalog=CrossCountry;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>