<div class="modal fade" id="organizationCreateModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create School</h4>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("Create", "Organization", null, new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "createOrganizationForm",
                    OnSuccess = "createOrganizationSucceeded",
                    OnFailure = "createOrganizationFailed"
                }, new { @class = "form-horizontal", @id = "frmCreateOrganization" }))
                {
                    @Html.AntiForgeryToken()
                    <div id="createOrganizationForm">
                        @* CreateForm.cshtml goes here *@
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-form-id="frmCreateOrganization">Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
