<div class="modal fade" id="userEditModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit User</h4>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("Edit", "User", null, new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "editUserForm",
                    OnSuccess = "editUserSucceeded",
                    OnFailure = "editUserFailed"
                }, new { @class = "form-horizontal", @id = "frmEditUser" }))
                {
                    @Html.AntiForgeryToken()
                    <div id="editUserForm">

                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-form-id="frmEditUser">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
